<!-- Yo soy la vista de Videojuegos -->
<div class="videojuegos-container">
  
  <!-- Yo titulo la sección. Puedes cambiar mi nombre abajo -->
  <h2 class="videojuegos-titulo">{{ titulo }}</h2>

  <!-- Yo leo los datos asíncronos en tiempo real usando el 'Async Pipe' -->
  @if (videojuegos$ | async; as videojuegos) {
    <ul class="videojuegos-lista">
      <!-- Itero los juegos usando la directiva de flujo de control optimizada de Angular -->
      @for (juego of videojuegos; track $index) {
        <li class="videojuego-item">
          <div class="videojuego-contenido">
            <span><strong>{{ juego.nombre }}</strong></span>
            <!-- Yo soy el botón que dispara la función de borrado de este juego en específico -->
            <button class="btn-eliminar" (click)="eliminarJuego(juego)">Eliminar</button>
          </div>
        </li>
      }
    </ul>
  }

  <!-- Yo manejo las interacciones de entrada del usuario usando Template-Driven Forms (ngModel) -->
  <div class="formularios-container">
    
    <div class="formulario-grupo">
      <input 
        type="text" 
        [(ngModel)]="nuevoJuego" 
        class="input-texto"
      />
      <button class="btn-accion btn-verde" (click)="agregarJuego()">Agregar Juego</button>
    </div>

    <div class="formulario-grupo">
      <input 
        type="text" 
        [(ngModel)]="nuevotitulo" 
        class="input-texto"
      />
      <button class="btn-accion btn-azul" (click)="cambiarTitulo()">Renombrar Componente</button>
    </div>

  </div>
</div>